<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <filter>
    <filter-name>cacheListener</filter-name>
    <filter-class>cache.CacheListenerServlet</filter-class>
  </filter>
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>manage.LoginFilterServlet</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>manage.LoginManageServlet</listener-class>
  </listener>
  <servlet>
    <servlet-name>deskservlet</servlet-name>
    <servlet-class>com.helpdesk.DeskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginparse</servlet-name>
    <servlet-class>manage.LoginParse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>manage.Main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>nikgandadeligate</servlet-name>
    <servlet-class>estimasi.NikGandaDeligate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>otorisasiCetakUlang</servlet-name>
    <servlet-class>ulang.OtorisasiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>penggunacheck</servlet-name>
    <servlet-class>manage.PenggunaCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>penggunauser</servlet-name>
    <servlet-class>manage.Penggunauser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pilihwilayah</servlet-name>
    <servlet-class>wilayah.PilihWilayahServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pinauthen</servlet-name>
    <servlet-class>manage.Pinauthen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pinview</servlet-name>
    <servlet-class>manage.Pinview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deskservlet</servlet-name>
    <url-pattern>/deskservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginparse</servlet-name>
    <url-pattern>/loginparse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>nikgandadeligate</servlet-name>
    <url-pattern>/nikgandadeligate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>otorisasiCetakUlang</servlet-name>
    <url-pattern>/otorisasiCetakUlang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>penggunacheck</servlet-name>
    <url-pattern>/penggunacheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>penggunauser</servlet-name>
    <url-pattern>/penggunauser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pilihwilayah</servlet-name>
    <url-pattern>/pilihwilayah</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pinauthen</servlet-name>
    <url-pattern>/pinauthen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pinview</servlet-name>
    <url-pattern>/pinview</url-pattern>
  </servlet-mapping>
</web-app>
