<div class="tab-page"   id="tabPage4">
                    <h2 class="tab">Data Pelapor</h2>
                <script type="javascript">
                	tp1.addTabPage(document.getElementById("tabPage4"));
                </script>
                    <table class="TabSectionVisible" id="HeaderTAB" name="HeaderTAB" width="900">
                      <tr>
                        <td>
                          <table cellpadding="2" cellspacing="2" border="0" width="100%" align="center">
                            <tr>
                              <td colspan="7"> </td>
                            </tr>
                            <tr>
                              <td colspan="7">
                                <div align="center"> </div>
                              </td>
                            </tr>
                            <tr>
                              <td width="21%">
                                <p style="line-height: 100%">NIK Pelapor<font color="#000099" class="asterish">*</font>
                                </p>
                              </td>
                              <td width="1%">:</td>
                              <td width="26%">
                                <p style="line-height: 100%">
                                  <input type="text" name="nik_plpor" size="18" value='<%=((request.getParameter("nik_plpor")==null)?"":request.getParameter("nik_plpor"))%>' class="boxdefault" maxlength="17"   onKeyUp="return num1(form1.nik_plpor)">
                                  <b><b> </b></b></p>
                              </td>
                              <td width="1%">&nbsp;</td>
                              <td width="24%">
                                <p style="line-height: 100%">Nama Lengkap</p>
                              </td>
                              <td width="1%">:</td>
                              <td width="26%">
                                <p style="line-height: 100%"><%=wnidataKlr.getWnaObj().getRecord4().getNamaPertma()%></p>
                              </td>
                            </tr>
                            <tr>

            <td width="21%" height="38">
              <p style="line-height: 100%">Tanggal Lahir</p>
                              </td>

            <td width="1%" height="38">:</td>

            <td width="26%" height="38">
              <p style="line-height: 100%">
<%=wnidataKlr.getWnaObj().getRecord4().getTglLhr()%>

</p>
                              </td>

            <td width="1%" height="38">&nbsp;</td>

            <td width="24%" height="38">
              <p style="line-height: 100%"> Jenis Pekerjaan<font color="#000099" class="asterish">*</font></p>
                                </td>

            <td width="1%" height="38">:</td>

            <td width="26%" height="38">
              <p style="line-height: 100%">
              <% if (!request.getParameter("nik_plpor").substring(0,1).equals("A")) { %>
                <select
                    name="jenis_pkrjn_plpor" class="boxdefault">
                  <option value="0" selected>-- Pilih Jenis Pekerjaan --</option>
                  <option value="1">1 - Pelajar/Mahasiswa</option>
                  <option value="2">2 - Mengurus Rumah Tangga</option>
                  <option value="3">3 - Pensiunan</option>
                  <option value="4">4 - Belum/Tidak Bekerja</option>
                  <option value="5">5 - Petani/Pekebun</option>
                  <option value="6">6 - Peternak</option>
                  <option value="7">7 - Nelayan/Perikanan</option>
                  <option value="8">8 - Industri</option>
                  <option value="9">9 - Konstruksi</option>
                  <option value="10">10 - Perdagangan</option>
                  <option value="11">11 - Transportasi</option>
                  <option value="12">12 - Pegawai Negeri Sipil</option>
                  <option value="13">13 - Tentara Nasional Indonesia</option>
                  <option value="14">14 - Kepolisian R.I.</option>
                  <option value="15">15 - Jasa Lainnya</option>
                  <option value="16">16 - Lainnya</option>
                </select>
              <% } else { %>
                <select
                    class="boxdefault" name="jenis_pkrjn_plpor1">
                  <option  value="0" selected><b>-- Pilih Jenis Pekerjaan --</b></option>
                  <option  value="1"><b>1 - Trading and Industry</b></option>
                  <option  value="2"><b>2 - Forestry</b></option>
                  <option  value="3"><b>3 - Mining and Energy</b></option>
                  <option  value="4"><b>4 - Public Work</b></option>
                  <option  value="5"><b>5 - Farming</b></option>
                  <option  value="6"><b>6 - Religion</b></option>
                  <option  value="7"><b>7 - Bank and Financial</b></option>
                  <option  value="8"><b>8 - Health and Society</b></option>
                  <option  value="9"><b>9 - Tourism</b></option>
                  <option  value="10"><b>10 - Transportation and Communication</b></option>
                  <option  value="11"><b>11 - Culture and Education</b></option>
                  <option  value="12"><b>12 - Others</b></option>
                </select>
              <% } %>
              </p>
              </td>
                            </tr>
                            <tr>
                              <td width="21%">Alamat</td>
                              <td width="1%">:</td>
                              <td colspan="5"><%=((wnidataKlr.getWnaObj().getRecord4().getAlamat()==null)?"-":wnidataKlr.getWnaObj().getRecord4().getAlamat()+", ")%><br> <%=((wnidataKlr.getWnaObj().getRecord4().getNoRt()==null)?"":wnidataKlr.getWnaObj().getRecord4().getNoRt().toString()+", ")%><%=((wnidataKlr.getWnaObj().getRecord4().getNoRw()==null)?"":wnidataKlr.getWnaObj().getRecord4().getNoRw().toString()+", ")%><%=((wnidataKlr.getWnaObj().getRecord4().getDusun()==null)?"":wnidataKlr.getWnaObj().getRecord4().getDusun()+", ")%><%=((wnidataKlr.getWnaObj().getRecord4().getKodePos()==null)?"":wnidataKlr.getWnaObj().getRecord4().getKodePos().toString()+", ")%><%=((wnidataKlr.getWnaObj().getRecord4().getTelp()==null)?"":wnidataKlr.getWnaObj().getRecord4().getTelp())%></td>
                            </tr>
                            <tr>
                              <td width="21%">
                                <p style="line-height: 100%">Tanggal Melapor<font color="#000099" class="asterish">*</font></p>
                              </td>
                              <td width="1%">:</td>
                              <td width="26%">
                                <table width="100" border="0" cellspacing="3" cellpadding="0">
                                  <tr>
                                    <td>
                                      <input
                                class=boxdefault size=2 name=no_akta_lhr_dd2 maxlength="2" value='<%=((request.getParameter("no_akta_lhr_dd2")==null)?"":request.getParameter("no_akta_lhr_dd2"))%>'  onKeyUp="return tab15()">
                                    </td>
                                    <td>/ </td>
                                    <td>
                                      <input
                                class=boxdefault size=2 name=no_akta_lhr_mm2 maxlength="2" value='<%=((request.getParameter("no_akta_lhr_mm2")==null)?"":request.getParameter("no_akta_lhr_mm2"))%>' onKeyUp="return tab16()">
                                    </td>
                                    <td>/</td>
                                    <td>
                                      <input
                                class=boxdefault size=4 name=no_akta_lhr_yy2 maxlength="4" value='<%=((request.getParameter("no_akta_lhr_yy2")==null)?"":request.getParameter("no_akta_lhr_yy2"))%>' onKeyUp="return tab17()">
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td width="1%">&nbsp;</td>
                              <td width="24%">
                                <p style="line-height: 100%">
                              </td>
                              <td width="1%">&nbsp;</td>
                              <td width="26%">&nbsp; </td>
                            </tr>
                          </table>
                        </td>
      </tr>
    </table>
  </div>