/*

bright: rgb(234,242,255);
normal: rgb(120,172,255);
dark:	rgb(0,66,174);

*/




.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		11px;
	cursor:			Default;
	display:		inline;
	margin:			1px -5px 1px 5px;
	float:			left;
	padding:		3px 6px 3px 6px;
	background:		#CBE0FA;
	border:			1px rgb(120,172,255) double;
	border-left:	0;
	border-bottom:	0;
	border-top:		0;
	
	cursor:			hand;
	cursor:			pointer;
	
	z-index:		1;
	position:		relative;
	top:			0;
; font-weight: bold
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border:			1px solid #FF9F00;
	border-bottom:	0;
	z-index:		3;
	padding:		2px 6px 5px 6px;
	margin:			1px -6px -2px 0px;
	top:			-2px;
	background:		#E3F0FF;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			11px;
	color:				#2A3FAA;
	text-decoration:	none;
	cursor:			hand;
	cursor:			pointer;	
; font-weight: normal; font-style: normal; line-height: normal}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	#2A3F00;
; font-weight: normal
; font-size: 11px
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight:	bold;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid #FF9F00;
	z-index:		2;
	position:		relative;
	top:			-2px;
	padding:		10px;
; font-weight: normal
; background-color: #E3F0FF
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
	height:			1.85em;
	width:			100%;
; font-weight: normal
}
